*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Variaveis*/

:root{
	font-size: 16px;
	--Primeira-cor:#2848B8;
	--Segunda-cor:#6048A8;
	--Terceira-cor: #8040AD;
	--Quarta-cor:#B84090;
	--Quinta-cor: #C84090;
	--Sexta-cor: #C84888;
	--Form-cor:#E0E0E0;
	--Form-cor2:#E8F0f8;
	--Campo-form:#C8C8C8;
	--Rosa:#D3428E;
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Raleway:wght@600&display=swap');
body{
	background-image:
linear-gradient(to top,#1A4EBE,#234BDC,var(--Primeira-cor),#7047A7,#8844A1,#B24196,#A94297,#b94193,#CD3F8E,#C34091) ;
	background-repeat: no-repeat;
	height: 100%;
	
}
/*Container*/
h1{
	font-family: 'Mukta', sans-serif;
}
.container{
	border-radius: 4px;
	margin: 0 auto;
	margin-top: .5rem;
	text-align: center;
	background-color: white;
	width: 40%;
	height: 100%;
	margin-bottom: .5rem;
	
	font-family: 'Raleway', sans-serif;
}
.container h1{
	font-family: 'Mukta', sans-serif;
}
.container h2{
	font-size: 1rem;
	transform: translate(-11rem,0);
    margin-top: 1rem;
}

.quadrado::after{
	content: '';
	display: inline-block;
	
	border:4px solid var(--Quinta-cor);
	background-color: white;
	width: 3.8rem;
	height: 4rem;
	transform: translate(-0.4rem,2rem);

	
}

.container h1{
	margin-top: 3rem;
}
.container input,select{
	width: 85%;
	height:2rem;
	margin:.3rem;
	border:none;
	background-color: var(--Campo-form);
}
.container input[type="checkbox"]{
	width:1rem;
	border-radius: 10px;
	
}
.container input[type="checkbox"]::before{
	display: block;
	width: .9rem;
	height: .9rem;
	transform: translate(-0.11rem,0.4rem);
	content:'';
	border:3px solid var(--Rosa);
	border-radius: 3px;
}
.container input[type='submit']{
	height: 3rem;
	background-color: var(--Rosa);
	color: white;
	margin-bottom: 0.7rem;
}
.termos{
	display: inline-block;
	transform: translate(-7rem,-1rem);
}
.span1{
	display: inline-block;
	transform: translate(0.5rem,-0.5rem);
	font-size: 12px;

}
.span2{
	font-weight: bold;
}
/*Fim Container*/


/*Form*/
.campos1,
.campos2,
.campos3,
.campos4,
.campos5,
.campos6,
.campos7,
.campos8,
.campos9,
.campos10{
	margin-top: 1rem;
	background-color: var(--Campo-form);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 88%;
	transform: translateX(2rem);
}
.campos1,
.campos2,
.campos3,
.campos4,
.campos5,
.campos6,
.campos7,
.campos8,
.campos9,
.campos10{
	animation: cores 100s ease-in-out 3 alternate;
}
.campos1:hover,
.campos2:hover,
.campos3:hover,
.campos4:hover,
.campos5:hover,
.campos6:hover,
.campos7:hover,
.campos8:hover,
.campos9:hover,
.campos10:hover{
	animation: paused;
}


@Keyframes cores{
	to{
	box-shadow: 2px -2px 15px 3px rgba(235,7,7,1);
	}
}

form i{
	transform: translateX(-0.5rem);
	
}
form p{
	font-size: 14px;
	padding-bottom: 1rem;
	color: #F0F0F0,#F2F2F1;
}
form p a{
	color: black;
}
/*

 Dica de como deixar um elemento invisivel 
form i:hover{
	visibility: hidden;
}
*/

/*Fim form*/
